name: Algorithm Project CI

on:
  push:
    branches: [ "main", "phase-2" ]
  pull_request:
    branches: [ "main", "phase-2" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Unit Tests
      env:
        METISAI_API_KEY: ${{ secrets.METISAI_API_KEY }}
      run: |
        pytest tests/

    - name: Run Performance Evaluation
      env:
        METISAI_API_KEY: ${{ secrets.METISAI_API_KEY }}
      run: |
        python run_evaluation.py
        python plot_evaluation.py

    - name: Upload Analysis Plots
      uses: actions/upload-artifact@v4
      with:
        name: performance-plots
        path: plots/



# name: Algorithm Project CI

# on:
#   push:
#     branches: [ "main", "phase-2" ]
#   pull_request:
#     branches: [ "main", "phase-2" ]

# jobs:
#   build-and-test:
#     runs-on: ubuntu-latest
#     defaults:
#       run:
#         working-directory: ./Algorithm-Project-ZahraAghaeii-Group5-phase-2

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Set up Python
#       uses: actions/setup-python@v5
#       with:
#         python-version: '3.10'

#     - name: Install dependencies
#       run: |
#         python -m pip install --upgrade pip
#         pip install -r requirements.txt

#     - name: Run Unit Tests
#       env:
#         METISAI_API_KEY: ${{ secrets.METISAI_API_KEY }}
#       run: |
#         pytest tests/

#     - name: Run Performance Evaluation
#       env:
#         METISAI_API_KEY: ${{ secrets.METISAI_API_KEY }}
#       run: |
#         python run_evaluation.py
#         python plot_evaluation.py

#     - name: Upload Analysis Plots
#       uses: actions/upload-artifact@v4
#       with:
#         name: performance-plots
#         path: Algorithm-Project-ZahraAghaeii-Group5-phase-2/plots/